.list {
    margin-top: 30px;
    color:rgba(0, 0, 0, 0.842);
    font-weight: 500;
    font-size: 18px;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
  }
  
  .item:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .btn {
   
    
    cursor: pointer;
    display: inline-block;
   
    background-color:rgb(240, 78, 38);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }